<div class="container-fluid px-4">
    <h1 class="mt-4">Aarón Aguilera</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Software developer :3</li>
    </ol>
    <div class="row">
        <!--  -->
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <i id="experiencia">6 años</i> de experiencia en todo el proceso de desarrollo de software: análisis, recolección de datos, Bases de datos, programación frontend, programación backend, capacitación de personal, administración de servidores Windows, Linux y web.
            <br>
            He trabajado en proyectos con distintos propósitos como ventas, selección de personal, imagen corporativa, administración interna (ERM) y atención al cliente. Siempre con el enfoque en la resolución de problemas y la mejora continua.
        </div>

        <div class="col-12 mb-4">
        <h3>Formación</h3>
            <ul>
                <li>2010-2013 Técnico en Mantenimiento de cómputo
                    <br>Colegio Nacional de Educación Profesional Técnica.
                </li>
                <li>2013-2015 Técnico Superior Universitario
                    <br>Universidad Tecnológica de Morelia
                </li>
                <li>2016-2017 Técnico Superior Universitario
                    <br>Universidad Tecnológica de Morelia
                </li>
            </ul>
            <br>

        <h3>Experiencia</h3>
        <ul>
            <li>2018-2025 Desarrollador de software Fullstack
                <br>Destinos Parhíkuni
                <ul>
                    <li>Análisis</li>
                    <li>Desarrollo y mantenimiento de software</li>
                    <li>Administración de servidores</li>
                    <li>Capacitación de personal</li>
                    <li>Video Streaming</li>
                </ul>
            </li>
            <li>
                2025 Desarrollador web
                <br>eWaste Group
                <ul>
                    <li>Desarrollo web</li>
                </ul>
            </li>
            <li>
                2016 Desarrollador web
                <br>SEO Marketing (startup)
                <ul>
                    <li>Desarrollo web</li>
                    <li>Ventas</li>
                </ul>
            </li>
            <li>
                2016 Asesor de ventas
                <br> INTECOM
                <ul>
                    <li>Aseoría en tecnología</li>
                </ul>
            </li>
            <li>
                2015-2016 Laboratorista de cómputo
                <br> EPC Morelia
                <ul>
                    <li>Soporte Técnico</li>
                    <li>redes</li>
                    <li>Clases de informática</li>
                </ul>
            </li>
        </ul>

        <h3>Habilidades</h3>

            <ul>
                <li>Español</li>
                <li>Inglés</li>
                <br>

                <li>Html 5</li>
                <li>Css</li>
                <li>Javascript</li>
                <li>Jquery</li>
                <li>Json</li>
                <li>Php</li>
                <li>Laravel</li>
                <li>Arduino / esp32</li>
                <li>Git</li>
                <li>Sql</li>
                <li>APIs soap y rest</li>
                <li>Node</li>
                <br>

                <li>Resolución de problemas</li>
                <li>Pensamiento lógico</li>
                <li>Análisis</li>
                <li>Trabajo en equipo</li>
                <li>Aprendizaje</li>
                <li>Comunicación</li>
            </ul>

        <h3>Galería</h3>
        <div class="figure col-4 mb-4">
            <picture>
                <img class="col-12" src="./assets/concurso_programacion.jpg" type="image/jpg" alt="" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption text-center">
                    Concurso de programación generacional (2014).
                    <br>
                    Con Oscar Gómez y Daniel Ruiz
                </figcaption>
            </picture>
        </div>
        </div>
    </div>
</div>

<script>
    $("#experiencia").html(getExp());
</script>