<div class="col-12 row mx-0 px-2 blogCont">
    <section class="panel px-2 mb-3">
        <h1>S.M.O.V.I.</h1>
        <div>
            <figure class="media mx-2 my-2" style="float: left;">
                <video src="./views/p/parhikuni-smovi/smovi.mp4" width="350" preload autoplay muted></video>
                <figcaption>Simulador de Manejo Optimo Virtual</figcaption>
            </figure>
            <p class="px-2">
                Es la implementación de un simulador de manejo para la capacitación de los conductores de Parhíkuni con American Truck Simulator, donde se añadieron modificaciones para tener los autobuses con el diseño que se pintan las unidades de ruta, el uso de centrales de autobuses, la subida de pasajeros y la realización de los viajes en mapas de México.
            </p>
        
            <p class="px-2">
                Cuenta con un programa para añadir la función de una botonera física manejada por arduino, añadiendo las funciones de: encendido con llave, direccionales, limpia-parabrisas, freno de estacionamiento, faros, control crucero y ajustar laaltura de la suspensión
            </p>
            <figure class="media mx-2 my-2" style="float: right">
                <img width="350" src="./views/p/parhikuni-smovi/smovi.jpg" alt="">
            </figure>
        
            <p class="px-2">
                Este programa también nos permite guardar los datos de telemetría que nos genera ATS para en un futuro hacer una evaluación de la manera en que maneja cada conductor.
            </p>
        </div>
    </section>
    <section class="panel px-2 mb-3 row mx-0 px-2">
        <div>
            <figure class="media col-12 col-md-9 mx-auto my-2">
                <img src="./views/p/parhikuni-smovi/Platinum2_g8_1200_mb_4x2_og.png">
                <figcaption>Textura del modelo de autobus g8 Platinum. Por el Lic. en arte Julio Leal.</figcaption>
            </figure>
            <figure class="media col-12 col-md-6 mx-auto my-2">
                <img src="./views/p/parhikuni-smovi/enruta.jpg">
                <figcaption>Autobus g8 en ruta.</figcaption>
            </figure>
            <figure class="media col-12 col-md-6 mx-auto my-2">
                <img src="./views/p/parhikuni-smovi/usuario.jpg">
                <figcaption>Se observa con la botonera y la pantalla con velocimetro.</figcaption>
            </figure>
        </div>
    </section>

    <section class="panel px-2 mb-3">
        <figure class="media col-12 col-md-6 mx-auto my-2">
            <img src="./views/p/parhikuni-smovi/alumnos-itm.JPG">
            <figcaption>Demostración a alumnos del Instituto Tecnológico de Morelia que visitaron la empresa.</figcaption>
        </figure>
    </section>

    <section class="panel px-2 mb-3">
        <b>Manual PDF del simulador.</b>
        <embed src="./views/p/parhikuni-smovi/SMOVI_manual_revision_01.pdf" type="application/pdf" width="100%" height="600px" />
    </section>
</div>