<div class="container-fluid px-4">
    <h3>Contacto</h3>

    <div>
        Acepto sugerencias, comentarios, quejas, ofertas de trabajo, memes por cualquiera de los siguientes medios:
    </div>

    <div class="container-fluid px-4 my-2">
    <div class="container-fluid px-4 my-2">
        <a class="contacto" href="https://linkedin.com/in/aaron-aguilera/">
            <img src="./assets/linkedIn.png" alt="https://linkedin.com/in/aaron-aguilera/" width="20px">
            LinkedIn
        </a>
    </div>
    <div class="container-fluid px-4 my-2">
        <a class="contacto" href="https://github.com/anon34mx">
            <img src="./assets/github.png" alt="https://github.com/anon34mx" width="20px">
            Github
        </a>
    </div>
    <div class="container-fluid px-4 my-2">
        <a class="contacto" href="https://gitlab.com/anon34mx">
            <img src="./assets/gitlab.png" alt="https://gitlab.com/anon34mx" width="20px">
            GitLab
        </a>
    </div>
    <!-- form.123formbuilder.com script begins here -->
     <b></b>
    <iframe allowTransparency="true" style="min-height:500px; height:inherit; overflow:auto;" width="100%"
        id="contactform123" name="contactform123" marginwidth="0" marginheight="0" frameborder="0"
        src="https://form.123formbuilder.com/my-contact-form-6831292.html?customVars123=yes&hasEmbedFormStyle=1">
        <p>Your browser does not support iframes. The contact form cannot be displayed. Please use another contact method
            (phone, fax etc)</p>
    </iframe>
    <!-- form.123formbuilder.com script ends here -->
</div>

<style>
    .contacto{
        margin: 0 10px;
    }
    .contacto img{
        width: 34px;
    }
</style>