<div class="col-12 row mx-0 px-2 blogCont">
    <h1 class="titulo">Escritorio</h1>
    <section class="panel px-2 mb-3">
        <p>
            No hay mucho que decir, este es el escritorio que diseñé, donde llevo a cabo mis proyectos personales y ocio.
            Hice este modelado y le compartí las medidas a un carpintero.
        </p>
        <model-viewer src="./views/pp/escritorio/escritorio.glb" alt="A 3D model of an astronaut" auto-rotate camera-controls
            environment-image="./views/pp/escritorio/fondo.png"
            skybox-image="./views/pp/escritorio/fondo.png"
            skybox-height="5.0m"
            shadow-intensity="5"
            shadow-softness="0.8"
            style="
                width: 100%;
                height: 600px;
            ">
        </model-viewer>
        <script type="module" src="./js/model-viewer.min.js"></script>
        <!-- <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
        <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script> -->
    </section>
</div>