<div class="col-12 row mx-0 px-2 blogCont">
    <section class="panel px-2 mb-3">
        <figure class="col-12 col-sm-6 mx-2 my-2 float-start media">
            <img class="media-frame" src="./views/p/parhikuni-via/via.png" alt="">
            <figcaption><a href="https://via-jes.com/destinos">Visitar el sitio</a></figcaption>
        </figure>
        <p class="px-2">
            Este sistema se creó con el propósito de realizar viajes que llaman “charter” durante la pandemia de COVID, en 2020.
        </p>

        <figure class="col-4 col-sm-2 mx-2 my-2 float-end media">
            <img class="media-frame" src="./views/p/parhikuni-via/via-mini.webp" alt="">
            <figcaption>Reducción del logotipo</figcaption>
        </figure>
        <p class="px-2">
            La identidad de la marca fue <a href="./views/p/parhikuni-via/Presentación VIA.pptx">propuesta</a> mía, contando con el apoyo del diseño gráfico de mi compañera Nadia Ortiz. El nombre es VÍA, el camino o la manera para hacer algo. Después de buscar entre distintas palabras en latín, por ser una palabra relacionada con el giro de la empresa, corta y fácil de recordar y prestarse para hacer un logotipo simple pero significativo, dicho representa en la <b>“V”</b>; una representación del mar, la <b>“i”</b>; es la línea que separa los carriles en la carretera y la <b>“A”</b>; una montaña, dando a entender una amplia variedad de destinos.
        </p>
    </section>
    <section class="panel px-2 mb-3">
        <figure class="col-12 col-sm-6 mx-2 my-2 float-end media">
            <img class="media-frame" src="./views/p/parhikuni-via/venta.png" alt="">
            <figcaption>Los pasos para la venta se redujeron al mínimo.</figcaption>
        </figure>
        <p class="px-2">
            Contando igualmente con una interface que se adapta a diferentes dispositivos, clara, fácil de usar y accesible. Debajo de la sección de banners se publican los viajes próximos.
            Contamos con más información en la pestaña “servicios” así como nuestra información de contacto para ventas y consultas. En este sistema se crea un plan de generación de corridas donde se pone el origen-destino, los días de la semana que saldrá el viaje y el periodo de las semanas en que saldrá.
            <br>
            <i>
                A grandes rasgos es un sistema de venta de boletos para viajar.
            </i>
        </p>    
    </section>
    <section class="panel px-2 mb-3">
        <figure class="col-12 col-md-7 mx-2 my-2 float-end media">
            <img class="media-frame" src="./views/p/parhikuni-via/diagrama pago.png" alt="">
            <figcaption>Actualización del sistema de pago 2025</figcaption>
        </figure>
        <p>
            Inicialmente sólo el cliente podía comprar directamente su boleto, ahora, estos cambios nos permiten primero crear el adeudo para después poder hacer un pago mixto (pagar una parte con efectivo y otra con tarjeta), la capacidad de recibir adelantos o recibiar el pago a plazos, es más fácil integrar nuevas opciones de pago y, de ser necesario poder crear adeudos adicionales a la venta de boletos como algún servicio a bordo o suplemento para el viaje, comida, guías, reservaciones en hoteles etc. (aún no dispobibles)
        </p>
        <figure class="col-12  mx-2 my-2 float-end media d-flex flex-column align-items-center">
            <img class="media-frame" src="./views/p/parhikuni-via/detalle-ixtapa.png" class="col-12 col-md-6">
            <figcaption>Destino - Ixtapa, Zihuatanejo, Grro</figcaption>
        </figure>
        <p>
            Añadí un procesador de texto enriquecido para dar formato a la página de detalles de los detinos y poder hacer el viaje más atractivo al cliente.
            <a href="https://via-jes.com/destinos/IXTA">Ver en línea</a>
        </p>
    </section>
</div>