<div class="col-12 row mx-0 px-2 blogCont">
    <h1 class="titulo">eWaste Group</h1>
    <section class="panel px-2 mb-3">
        <p class="text-start">
            Para eWaste hice un sitio web que luego ni usaron por berrinche del jefe (no le gustó el diseño y no dijo nada en meses de desarrollo).
            <br>
            Este proyecto también incluye:
            <ul>
                <li>Página principal</li>
                <li>Blog empresarial
                    <br>
                    Versión mejorada del usado en Parhíkuni.com
                </li>
                <li>Chatbot
                    <br>
                    Versión mejorada del usado en Parhíkuni.com, ahora identifican los mensajes por tipos de respuesta (imagenes, videos, textos) y se administran de manera visual en una estructura de árbol.
                </li>
                <li>Próximos eventos</li>
                <li>Contacto</li>

            </ul>
            <picture class="figure col-10">
                <img src="./views/p/ewaste/index.png" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">Página principal</figcaption>
            </picture>
        </p>
    </section>
</div>