<div class="col-12 row mx-0 px-2">
    <h3>Software híbrido</h3>
    
    <section class="panel px-2 mb-3">
        <p>
            Por muchos años el software se ha dividido en dos: software de escritorio <b>o</b> software web. El software de escritorio se ejecuta desde el mismo equipo del usuario, mientras que el software web cumple el protocolo cliente-servidor, se usa atravéz de un equipo que envía la información a un servidor que la procesa y genera un resultado.
            Ambos esquemas tienen sus ventajas y desventajas; web es más fácil de desarrollar pero no podemos utilizar los recursos del equipo, el software de escritorio sí pero ---.
            <br>
            Esta era mi propuesta para el <a class="" onclick="$('body').loadHTML('p/parhikuni-SI');">Sistema Integral</a>
            <br>
            Ventajas:
            <ul>
                <li>
                    Impresiones
                    <ul>
                        <li>Mandar a imprimir desde web, sin recuadro de confirmación</li>
                        <li>Configurar varias impresoras a la vez</li>
                    </ul>
        
                </li>
                <li>
                    Utilizar periféricos USB/COM
                    <br>
                    <ul>
                        <li>Escáneres</li>
                        <li>Lectores biométricos</li>
                        <li>Monederos/billeteras/terminales de pago/etc.</li>
                    </ul>
                </li>
                <li>
                    Seguridad
                    <ul>
                        <li>Validación de hardware</li>
                        <li>Validacipon al enviar formularios</li>
                        <li>Evitar que el usuario abra la consola de desarrollador (con contraseña)</li>
                    </ul>
                </li>
                <li>
                    Productividad
                    <br>
                    <ul>
                        <li>Evitar que el usuario acceda a otros sitios web</li>
                    </ul>
                </li>
            </ul>
        </p>
        <picture class="figure col-12 col-sm-6">
            <img src="./views/blog/software-hibrido/alpha.png" class="figure-img img-fluid rounded">
            <figcaption class="figure-caption">
                <i>Version alpha con el login del Sistema Integral</i>
            </figcaption>
        </picture>
    </section>
</div>